* {
    text-align : center;


}



body {
    background-color: rgb(217, 251, 252);
    font-family: Georgia, 'Times New Roman', Times, serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
}


.zip-input {
    display: flex;
    width: 40vw;
}

.zip-input button {
    width: 40%;
    
}

.beer-buddies {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    font-weight: bolder;
    color: darkred;
}

.find-breweries {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    border-color: darkred;
    border-width: 10px;

}

.banner{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.10)),url("../images/just-a-cool-looking-bar.jpg");
background-color: #000000;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
    
}